body {
    background-image: url("bubbles.jpg");

}
#main{
    margin:150px auto;
    width: 40%;
    border:solid;
    text-align: center;
    border-width: 1px;
}
.main{
    margin:150px auto;
    width: 40%;
    text-align: center;
}
.center{
    margin:15px auto;
    width: 60%;
    text-align: center;
}
.loginForm{
    padding: 25px;
}
.loginForm > input{
    margin:10px 0px;
}
header{
    text-align:center;
    margin-top: 50px;
}
.title {
    color: gold;
    z-index: 2;
    font-size: 5em;
    letter-spacing: 15px;
    text-transform: uppercase;
    transform: rotate(-10deg);
    text-shadow: 1px 1px hsl(50, 50%, 45%),
                 2px 2px hsl(50, 50%, 40%),
                 3px 3px hsl(50, 50%, 35%),
                 4px 4px hsl(50, 50%, 34%),
                 5px 5px hsl(50, 50%, 33%),
                 6px 6px hsl(50, 50%, 32%),
                 7px 7px hsl(50, 50%, 31%),
                 8px 8px hsl(50, 50%, 30%),
                 9px 9px hsl(50, 50%, 29%),
                 10px 10px hsl(50, 50%, 28%),
                 10px 10px 30px rgba(0,0,0,.7)
}
.menu > button{
    margin:15px 0px;
    color:gold;

}
.menu > button:hover {
    background-color: gold;
}
.menu{
    background-color: rgba(0, 0, 0, 0.5);
    padding: 50px;
    border-radius: 1rem;
}
.go_back{
    margin:25px;
}
.highScoreTable{
    background-color: white;
}
